@charset "UTF-8";
body{
    margin-left: 30px;
    margin-right: 30px;
    background: url(img/posfondo4edi.jpg) rgb(0, 0, 0) no-repeat fixed;
    font-size: large;
    color: white;
}
#header{
    height: 580px;
    text-align: center;
    border-top-left-radius: 50px;
}
#cabecera{
    height: 40px;
    text-align: center;
}
.Menu{
    list-style: none;
    padding: 0;
    background: #000000;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.Menu li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
}
.Menu li{
    display: inline-block;
    text-align: center;
    width: 155px;
}
.Menu li a:hover{
    background: rgb(250,223,53);
    color: rgb(0, 0, 0);
}
#Img_album_vessel{
	height: 10px;
    margin-left: 10px;
}
footer{
    text-align: center;
}

.titulos{
    text-align: center;
    font-weight: bold;
    background-color: rgb(30, 30, 31);
}
.ganador{
    color: green;
    text-align: center;
}
.nomi{
    color: red;
    text-align: center;
}
.bibli{
    color: white;
    text-decoration: none
}
table{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 210px;
    color: white;
    letter-spacing: 1px;
    border-collapse: collapse;
}
.normal {
    width: 250px;
    border: 1px solid rgb(255, 255, 255);
  }
.normal th, .normal td {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid rgb(255, 255, 255);
  }
  #comen{
    border: thin ;
  }
  textarea{
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(57, 61, 0);
  }