@charset "UTF-8";
body{
    background: url(img/img_galeria/Fondo\ galeria.jpg);
    font-size: large;
    color: white;
}
#log{
    justify-self: right;
}
#Cabezera_galeria{
    display: grid;
    height: 40px;
    text-align: center;
}


#botlog{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(24, 24, 24);
    animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}


.Menu{
    list-style: none;
    padding: 0;
    background: transparent;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.Menu li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
}
.Menu li{
    display: inline-block;
    text-align: center;
    width: 160px;
}
.Menu li a:hover{
    background: rgb(0, 2, 3);
    color: rgb(255, 255, 255);
}
img{
    display:block;
margin:auto;
}
h4{
    text-align: center;
}

footer{
    text-align: center;
}