@charset "UTF-8";
body{
    background: url(img/Img_ciudad/Fondo\ ciudad\ 4.jpg) no-repeat fixed;
    background-size: 100%;
    color: white;
    font-size: large;
}
#Cabezera_ciudad{
    height: 40px;
    text-align: center;
}
.Menu{
    list-style: none;
    padding: 0;
    background: transparent;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.Menu li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
}
.Menu li{
    display: inline-block;
    text-align: center;
    width: 230px;
}
.Menu li a:hover{
    background: rgb(1, 46, 105);
    color: rgb(255, 255, 255);
}
footer{
    text-align: center;
}