body{
    background: url(img/Img_form/Fondo\ 1.jpg) rgb(0, 0, 0) no-repeat fixed;
    background-size: 100%;;
    font-size: large;
    color: rgb(255, 255, 255);
}
#header{
    height: 580px;
    text-align: center;
    border-top-left-radius: 50px;
}
#cabecera{
    height: 40px;
    text-align: center;
}
#Cabezera{
    height: 40px;
    text-align: center;
}
.Menu{
    list-style: none;
    padding: 0;
    background: rgba(10, 47, 61, 0);
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.Menu li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
}
.Menu li{
    display: inline-block;
    text-align: center;
    width: 157px;
}
.Menu li a:hover{
    background: rgb(31, 59, 70);
    color: rgb(255, 255, 255);
}



#for{
    margin-left: 250px;
    margin-right: 250px;
    padding-left: 60px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.733);
    border: thin white ;
}
#titulo{
    text-align: center;
    padding-right: 10px;
}
#boton{
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: outset 5px rgb(31, 59, 70);
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(31, 59, 70)
}
h5{
    text-align: center;
}
.textocolor{
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 20px 20px 20px 20px;
}

.conten{
    background-color: rgb(10, 47, 61);
    padding: 15px;
    border:groove 3px rgba(0, 0, 0, 0.178);
    border-radius: 20px 20px 20px 20px;
}
.texti{
    color: rgb(12, 168, 121);
}
p{
    size: 5px;
}
footer{
    text-align: center;
}